<h4 class="align center">RESERVES</h4>
<div class="container-fluid ">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #reserveForm="ngForm" (ngSubmit)="addReserve(reserveForm)">
                        <input type="hidden" name="_id" #_id="ngModel"
                            [(ngModel)]="reserveService.selectedReserve._id">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="name_restaurant" #name_restaurant="ngModel"
                                    [(ngModel)]="reserveService.selectedReserve.name_restaurant"
                                    placeholder="Enter its name restaurant">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="date" #date="ngModel"
                                    [(ngModel)]="reserveService.selectedReserve.date"
                                    placeholder="Enter its address">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="time" #time="ngModel"
                                    [(ngModel)]="reserveService.selectedReserve.time"
                                    placeholder="Enter its time">
                            </div>
                            <div class="card-content">
                                <div class="input-field col s12">
                                    <button class="btn" (click)="resetForm(reserveForm)">Clean</button>
                                    <button class="btn right">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7" *ngIf='identity.role.indexOf("ROLE_ADMIN")>=0'>
            <table>
                <thead>
                    <th>Nombre restaurant</th>
                    <th>Date</th>
                    <th>Time</th>
                </thead>
                <tbody>
                    <tr *ngFor="let reserve of reserveService.reserves">
                        <td>{{reserve.name_restaurant}}</td>
                        <td>{{reserve.date}}</td>
                        <td>{{reserve.time}}</td>
                        <td>
                            <a (click)="editReserve(reserve)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteReserve(reserve._id)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
