
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2">Ovejas Negras Company</h1>
        <div class="row center">
          <h5 class="header col s12 light">La cadena de restaurantes más longeva de Sevilla</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../../../assets/fondoHome.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container">
    <div class="section icons">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">accessible</i></h2>
            <h5 class="center">Accesible para todos</h5>

            <p class="light">Todos nuestros locales cuentan con rampas especializadas para aquellas personas con dificultad de acceso.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Experiencia de usuarios</h5>

            <p class="light">Prueba nuestros magnificos packs de amigos para que vivais una experiencia única en cada comida.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">wifi</i></h2>
            <h5 class="center">No Wifi</h5>

            <p class="light">Nuestros locales NO cuentan con Wifi gratuita disponible. ¡Aquí se viene a comer y a reirse!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><i class="large material-icons">local_bar</i></h5>
          <p class="light parrafo">Para quien quiera seguir con la juerga después de una buena cena, Ovejas Negra
              te invita a la primera consumición.
          </p>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>
  <div class="container">
    <div class="section icons">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">local_dining</i></h2>
            <h5 class="center">Comida exótica</h5>

            <p class="light">Contamos con una amplia gama de restaurantes que ofrecen comida de los paises más exóticos.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
            <h5 class="center">Lugares emblemáticos</h5>

            <p class="light">Vive una auténtica experiencia en los lugares más bonitos de la ciudad.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">screen_lock_portrait</i></h2>
            <h5 class="center">Nuestra App</h5>

            <p class="light">Descarga nuestra app y reserva desde tu móvil en cualquier momento.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h2>Sobre Nosotros</h2>
          <p class="light">Desde 1965 ofreciendo nuestros mejores servicios a la ciudad de Sevilla. Utilizamos solo productos de calidad y 100% de nuestra tierra, de Andalucía. Ofrecemos una gran cantidad de variedad de restaurantes, para todos los gustos y edades. Interesados en ti, nuestra primera misión es llevarte a experimentar comidas y cenas únicas, mantenemos el cuidado de nuestros locales para tu mayor comidad. No lo dudes, prueba, OVEJAS NEGRAS.</p>
        </div>
      </div>

    </div>
  </div>
  