
<h3 class="align center">Contact</h3>
<div class="row">
    <div class="col l6">
        <article class=" ">
            <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
                <div class="input-field">
                    <i class="material-icons prefix">perm_identity</i>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" ngModel required>
                </div>
        
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <label for="email">Email</label>
                    <input type="email" name="email" ngModel required>
                </div>
        
                <div class="input-field">
                    <i class="material-icons prefix">mode_edit</i>
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" ngModel rows="10" class="materialize-textarea"  length="140" required></textarea>
                </div>
                
                <p class="center-align">
                    <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>enviar</button>
                </p>
        
            </form>
        
        </article>
    </div>
    <div class="col l6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.859679851475!2d-5.994019234747453!3d37.39315057983072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c05109a541f%3A0xbda4ae6de1fed2c4!2sSetas%20de%20Sevilla!5e0!3m2!1ses!2ses!4v1582409157747!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>

